
.icon-home-outline:before { content: '\e800'; } /* '' */
.icon-login:before { content: '\e801'; } /* '' */
.icon-edit:before { content: '\e802'; } /* '' */
.icon-money:before { content: '\e803'; } /* '' */
.icon-person:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-key:before { content: '\e806'; } /* '' */